{% extends 'base.html'%}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div height="10%" class="img-center center img-container">
  <img src="static\Tema4B.png" width="20%" height="20%">
</div>
<div class = "d-flex justify-content-center">
  <div class="img-center w-50">
  <p>
    <h1 class="textadaptive-big"> Что такое "ТЕМА"?</h1>
    <p class= "textadaptive-small"> ТЕМА - это совсем недавно освоенная компания, работающая в своей сфере уже больше трёх лет. Мы занимаемся продажей мотоподъёмников и подъёмников для снегоходов на авито, но мы решили расшириться и открыть свой интернет-магазин.
    <h1 class="textadaptive-big"> Что мы производим?</h1>
    <p class= "textadaptive-small"> Мотоподъёмники уже стали нашим хобби, поэтому мы каждый день задумываемся о том, как расширить наш список позиций, а также готовы принять ваши заказы, если предоставите техническое задание и схемы, мы всегда открыты новому!
    <h1 class="textadaptive-big"> Почему вы должны покупать именно у нас?</h1>
    <p class= "textadaptive-small"> Всё просто: вы останетесь в восторге от наших товаров, а наша отзывчивая команда никогда не оставит клиента недовольным. Хорошее предприятие на недовольных клиентах не построишь - очевидная истина. Посмотрите наш <a href="https://www.avito.ru/nizhniy_tagil/zapchasti_i_aksessuary/motopodemnik_2899388789?">профиль на Авито</a>, где уже больше двух сотен положительных отзывов от наших клиентов
  </div>
</div>
{% endblock %}